<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=:d-MMMM-yyyy HH\:mm\:ss} | ${uppercase:${level}} | ${logger} | ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logfile.txt"
            layout="${date:format=:d-MMMM-yyyy HH\:mm\:ss} | ${uppercase:${level}} | ${logger} | ${message}" />
    <target name="logfile1" xsi:type="File" fileName="${basedir}/logfile1.txt"
            deleteOldFileOnStartup="true"
            layout="${date:format=:d-MMMM-yyyy HH\:mm\:ss} | ${uppercase:${level}} | ${logger} | ${message}" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="console, logfile, logfile1" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>